<h3>Teste</h3>

<p>
Deve ser criada uma aplicação Angular 2 que consulta uma api REST e exibe uma lista de usuários na tela.
</p>
<p>
    - O endpoint a ser consultado é: <a href="http://demo5698684.mockable.io/users">demo5698684.mockable.io/users</a>;
    <br />
    - A listagem de usuários deve ser apresentada em forma de tabela quando a tela for maior ou igual a 800px e em forma de Cards quando a tela for menor que 800 px;
    <br />
    - A listagem deve ser ordenável e filtrável por Id, nome, idade e cidade;
    <br />
    - Deve haver um botão de remover usuário em cada linha da tabela que ao serA listagem deve ser ordenável e filtrável por Id, nome, idade e cidade; clicado mostra um popup informando o nome do usuário sendo removido e uma mensagem dizendo que a funcionalidade de remoção de usuários não foi implementada ainda.
    <br />
    - Os principais componentes devem ter testes;
    <br />
    - A aplicação deve ser hospedada em algum servidor de sua preferência, podendo ser bitbucket pages, github pages, gitlab pages, S3, Google Drive ou onde você achar melhor.
    <br />
    - Deve ser utilizado SASS na estilização;

</p>

<p>
  Pode utilizar as ferramentas que achar melhor. A utilação de angular-cli é uma opção de sua porém é fortemente recomendada pela facilidade no build embora seja possível atingir o mesmo efeito com outras ferramentas.
</p>



https://angular.io/docs/ts/latest/
https://angular.io/docs/ts/latest/quickstart.html
