<div class="row">
  <div class="col s8">
    <h2>Teste</h2>

    <h5>
    Deve ser criada uma aplicação Angular 2 que consulta uma api REST e exibe uma lista de usuários na tela.
    </h5>
    <p>
      <i class="material-icons done">done</i> O endpoint a ser consultado é: <a href="http://demo5698684.mockable.io/users">demo5698684.mockable.io/users</a>;
        <br />
        <i class="material-icons done">done</i> A <a routerLink="/users" routerLinkActive="active">listagem de usuários</a> deve ser apresentada em forma de tabela quando a tela for maior ou igual a 800px e em forma de Cards quando a tela for menor que 800 px;
        <br />
        <i class="material-icons done">done</i> A <a routerLink="/users" routerLinkActive="active">listagem</a> deve ser ordenável e filtrável por Id, nome, idade e cidade;
        <br />
        <i class="material-icons done">done</i> Deve haver um botão de remover usuário em cada linha da tabela que ao ser clicado mostra um popup informando o nome do usuário sendo removido e uma mensagem dizendo que a funcionalidade de remoção de usuários não foi implementada ainda.
        <br />
        <i class="material-icons done">done</i> Os principais componentes devem ter testes;
        <br />
        <i class="material-icons done">done</i> A aplicação deve ser hospedada em algum servidor de sua preferência, podendo ser bitbucket pages, github pages, gitlab pages, S3, Google Drive ou onde você achar melhor.
        <br />
        <i class="material-icons done">done</i> Deve ser utilizado SASS na estilização;

    </p>

    <p>
      <b>**</b><i>Pode utilizar as ferramentas que achar melhor. A utilação de angular-cli é uma opção de sua porém é fortemente recomendada pela facilidade no build embora seja possível atingir o mesmo efeito com outras ferramentas.</i><b>**</b>
    </p>


    <p>
      <a href="https://angular.io/docs/ts/latest/">https://angular.io/docs/ts/latest/</a>

      <br />

      <a href="https://angular.io/docs/ts/latest/quickstart.html">https://angular.io/docs/ts/latest/quickstart.html</a>

    </p>
  </div>
  <div class="col s4">
    <div class="card blue-grey">
      <div class="card-content white-text">
        <span class="card-title">Features:</span>
        <ul>
          <li>- Angular 2</li>
          <li>- Jasmine</li>
          <li>- Materializecss</li>
          <li>Item 4</li>
          <li>Item 5</li>
          <li>Item 6</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s4">
    <a routerLink="/users" routerLinkActive="active" class="waves-effect orange btn-large"><i class="material-icons left">assignment</i> Listagem</a>
  </div>
</div>
